# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group authors administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName baptistines.fatcow.com
AuthUserFile /home/users/web/b1593/moo.baptistines/_vti_pvt/service.pwd
AuthGroupFile /home/users/web/b1593/moo.baptistines/_vti_pvt/service.grp
